name: C/C++ CI Simple 2

on:
  push:
    paths:
    - '!**/*.yml'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: config
      run: ./config
    - name: make
      run: make
    - name: make test
      run: make test
    - name: Run maven site
      run: mvn site
    - name: ls target/site
      run: ls -l target/site
    - name: Setup git config
      run: |
          # setup the username and email. I tend to use 'GitHub Actions Bot' with no email by default
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
    - name: commit
      run: |
          # Stage the file, commit and push
          git add /target/site/*
          git commit -m "Commit of maven site"
          git push origin master
