name: C/C++ CI Simple 2

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: config
      run: ./config
    - name: make
      run: make
    - name: make test
      run: make tes
